body{
  background-color: #eee;
}


#username{
    border: 1px solid black;
}
#password{
    border: 1px solid black;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    background-color: #0069d9;
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.4), 0px 0px 8px rgba(0, 123, 255, 0.2);
  }
  
  .button:active {
    background-color: #005cbf;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  }